/dto_negocios/nbproject/private/
/negocios_tomarPedido/nbproject/private/
/dto_negocios/build/
/dto_negocios/dist/
/presentacion_equipo2/target/
/negocios_tomarPedido/build/
/negocios_tomarPedido/dist/
/negocios_gestionPago/nbproject/private/
/negocios_gestionSesion/nbproject/private/
